[submodule "win32_utf8"]
	path = win32_utf8
	url = https://github.com/thpatch/win32_utf8.git
[submodule "jansson"]
	path = libs/jansson
	url = https://github.com/akheron/jansson.git
[submodule "libpng"]
	path = libs/libpng
	url = http://git.code.sf.net/p/libpng/code
[submodule "zlib-ng"]
	path = libs/zlib-ng
	url = https://github.com/Dead2/zlib-ng
[submodule "Act-Nut-lib"]
	path = Act-Nut-lib
	url = https://github.com/thpatch/Act-Nut-lib.git
[submodule "thtypes"]
	path = thtypes
	url = https://github.com/thpatch/thtypes.git
[submodule "libs/vorbis"]
	path = libs/libvorbis
	url = https://git.xiph.org/vorbis.git
[submodule "libs/ogg"]
	path = libs/libogg
	url = https://git.xiph.org/ogg.git
