[submodule "win32_utf8"]
	path = libs/win32_utf8
	url = https://github.com/thpatch/win32_utf8.git
[submodule "thtypes"]
	path = thtypes
	url = https://github.com/thpatch/thtypes.git
[submodule "libs/135tk"]
	path = libs/135tk
	url = https://github.com/brliron/135tk
[submodule "libs/external_deps"]
	path = libs/external_deps
	url = https://github.com/thpatch/thcrap_external_dependencies.git
