[submodule "win32_utf8"]
	path = win32_utf8
	url = https://github.com/thpatch/win32_utf8.git
[submodule "jansson"]
	path = jansson
	url = https://github.com/akheron/jansson.git
[submodule "libpng"]
	path = libs/libpng
	url = http://git.code.sf.net/p/libpng/code
[submodule "zlib-ng"]
	path = libs/zlib-ng
	url = https://github.com/Dead2/zlib-ng
