#include <windows.h>
#include "src/resource.h"

IDD_DIALOG1 DIALOGEX 0, 0, 274, 43
STYLE DS_SETFONT | WS_POPUPWINDOW | DS_MODALFRAME | WS_VISIBLE
CAPTION "Select language"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	COMBOBOX	    IDC_COMBO1, 7, 7, 260, 300, CBS_DROPDOWNLIST, CBS_SORT
	PUSHBUTTON      "OK", IDC_BUTTON1, 217, 22, 50, 14, 0
END
