#include <windows.h>
#include "src/resource.h"

IDI_ICON1 ICON "..\\gfx\\abstractcactus\\icon_01.ico"

10 VERSIONINFO
    FILEVERSION     0,8,3,0
    PRODUCTVERSION  0,8,3,0
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x0000003F
    FILEFLAGS       0x00000020
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "ProductName", "Touhou Community Reliant Automatic Patcher - Configuration tool\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x04E4
    }
}

IDD_DIALOG1 DIALOGEX 0, 0, 274, 143
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_SIZEBOX
CAPTION "Touhou Community Reliant Automatic Patcher - Patch configuration tool"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	PUSHBUTTON      "Button1",IDC_BUTTON1,217,122,50,14,WS_DISABLED
	EDITTEXT        IDC_EDIT1,7,122,208,14,ES_AUTOHSCROLL|WS_DISABLED
	LISTBOX	        IDC_LIST1,7,7,260,113,LBS_NOINTEGRALHEIGHT|LBS_DISABLENOSCROLL|WS_VSCROLL|WS_TABSTOP|LBS_NOREDRAW
    CONTROL         "",IDC_PROGRESS1,"msctls_progress32",WS_BORDER,7,122,260,14
END
